---
layout: project.njk
title: AMC Theatres
type: Entertainment Visual Identity
description: AMC Theatres, the largest movie theater chain in the world, has faced a downturn as the rapid growth of streaming services has led to significant audience loss.
tools: InDesign, Illustrator, Photoshop, After Effects, Midjourney
---

<!-- TODO: bring in the videos -->

<script type="text/javascript">
    imgs = [
        {
            img: "./img/Logo_4s-3836.gif",
            caption: "Logo animation"
        },
        {
            img: "./img/amc.001.png",
            caption: "Spatial applications"
        },
        {
            img: "./img/CIRCLE WALL MOTION-3831.gif",
            caption: "Interactive installation"
        },
        {
            img: "./img/amc.002.png",
            caption: "Wayfinding"
        },
        {
            img: "./img/amc.003.png",
            caption: "Out of home promotion"
        },
        {
            img: "./img/amc.004.png",
            caption: "Packaging design"
        },
        {
            img: "./img/amc.005.png",
            caption: "Digital and mobile UI/UX"
        }
    ];
    var audience = "The new AMC Theatres audience is experience-driven, tech-savvy, and seeks immersive, social, and premium entertainment beyond traditional moviegoing.";
    var solution = "A new visual identity for AMC Theatres combines joyful energy and passion with immersive design elements. This dynamic approach reconnects audiences with the magic of cinema, creating a distinctive and emotionally engaging experience.";

    buildAllImgs(audience, solution);
</script>