---

---

<!DOCTYPE html>
<html class="wf-initial-load" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} | YUSS Studio</title>

        <meta name="description" content="YUSS Studio is a design collective of Yitong, Umang, Sisi, and Shakeel">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://yuss.applieddesigner.com/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="YUSS Studio">
        <meta property="og:description" content="YUSS Studio is a design collective of Yitong, Umang, Sisi, and Shakeel">
        <meta property="og:image" content="/https://yuss.applieddesigner.com/img/YUSS_opengraph.png">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="yuss.applieddesigner.com">
        <meta property="twitter:url" content="https://yuss.applieddesigner.com/">
        <meta name="twitter:title" content="YUSS Studio">
        <meta name="twitter:description" content="YUSS Studio is a design collective of Yitong, Umang, Sisi, and Shakeel">
        <meta name="twitter:image" content="https://yuss.applieddesigner.com//img/YUSS_opengraph.png">


        <link rel="stylesheet" href="./styles.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <link rel="stylesheet" href="/styles.css">
    </head>
    <header>
        <div><a href="../">YUSS Studio</a></div>
        <div><a href="mailto:yuss@applieddesigner.com" target=_blank>yuss@applieddesigner.com</a></div>
    </header>
    <hr>
    <body>
        <br>
        <h2>{{ title }}</h2>
        <div class="YUSS-grid-6">
            <div style="grid-column: span 2;">
                <p>
                    <strong>{{ type }}</strong>
                    <br>
                    {{ description }}
                </p>
            </div>
            <div style="grid-column: span 1;"></div>
            <div style="grid-column: span 2;">
                <p>
                    <strong>Tools</strong><br>
                    {{ tools }}
                </p>
            </div>
        </div>
        <br>
        <div id="project-content">
        </div>
    </body>
    <hr>
    <!-- TODO: pin footer to bottom of page -->
    <footer> 
        <div>&copy; 2024 YUSS Studio</div>
        <div><a href="mailto:yuss@applieddesigner.com">yuss@applieddesigner.com</a></div>
    </footer>
    <script src="/yuss.js"></script>
    {{ content | safe }}
</html>
