---
layout: project.njk
title: List Arts Center
type: Cultural Visual Identity
description: List Arts Center is the contemporary art museum on campus at MIT. This project looks at the semantic value of the name/word “List” to create new organizational methodologies that reflect the Center’s commitment to the circulation of knowledge.
tools: InDesign, Illustrator, Photoshop, p5.js, Processing 
---

<!-- TODO: bring in the videos -->

<script type="text/javascript">
    imgs = [
        {
            img: "./img/list.gif",
            caption: "Logo reveal"
        },
        {
            img: "./img/list.002.png",
            caption: "Out of home promotion"
        },
        {
            img: "./img/typeface.gif",
            caption: "Modular typeface"
        },
        {
            img: "./img/billboard.png",
            caption: "Out of home promotion"
        },
        {
            img: "./img/gen_reel.gif",
            caption: "Processing and p5.js were used to create unique brand motion behavior as well as image treatment models."
        },
        {
            img: "./img/list.003.png",
            caption: "Cross media applications"
        },
        {
            img: "./img/spatial.gif",
            caption: "Spatial applications"
        },
        // {
        //     img: "./img/list.005.png",
        //     caption: "Custom wayfinding development"
        // },
        {
            img: "./img/list.010.png",
            caption: "Custom wayfinding development"
        }
    ];
    var audience = "The research conducted for this project identified students and young adults interested in art, history and science as the main attendees for this institution. However, there was a lack of general awareness of the Center and what it has to offer.";
    var solution = "A new typographic voice for the Center creates distinction between from other cultural institutions in the area. The use of p5.js and Processing allows for signature brand behavior and easy to use image treatment models.";

    buildAllImgs(audience, solution);
</script>