---
layout: project.njk
title: Progress Summit
type: Conference Visual Identity
description: The Atlantic’s Progress Summit is an event that brings together scientists, entrepreneurs, and storytellers to discuss science, technology, and curiosity. The summit aims to highlight innovative ideas and discuss how to use technology to create a better world.
tools: InDesign, Illustrator, Photoshop, Midjourney, After Effects, Figma 
---

<script type="text/javascript">
    imgs = [
        {
            img: "./img/progress_summit.003.png",
            caption: "Conference main stage"
        },
        {
            img: "./img/progress_summit.001.png",
            caption: "Out of home promotion"
        },
        // {
        //     img: "./img/progress_summit.002.png",
        //     caption: "Exterior environment design of the venue"
        // },
        {
            img: "./img/progress_summit.010.png",
            caption: "Exterior environment design of the venue"
        },
        {
            img: "./imag/progress_summit.021.png",
            caption: "Conference agenda"
        },
        // {
        //     img: "./img/progress_summit.004.png",
        //     caption: "Modular typeface"
        // },
        {
            img: "./img/progress_summit.011.png",
            caption: "Modular typeface"
        },
        {
            img: "./img/progress_summit.005.png",
            caption: "Conference collateral"
        },
        {
            img: "./img/progress_summit.006.png",
            caption: "Conference stationery"
        }
    ];
    var audience = "The conference’s main participants are scientists, entrepreneurs, and storytellers. However, the current visual system feels subdued, lacking energy and systematic visual design.";
    var solution = "While honoring the brand’s academic heritage, the new energized visuals reflect the summit’s dynamic discussions. Highlighting Academic, Pioneering, and Humanity, the design conveys a passion for progress. Rooted in the spirit of Expanding & Spreading Knowledge, it fosters collaboration among researchers, professionals, and investors, inspiring shared visions for the future.";

    buildAllImgs(audience, solution);
</script>