---
layout: project.njk
title: Midjourney
type: Technology Visual Identity
description: Midjourney’s existing visual language alienates non-technical audiences. This hypothetical rebrand makes the brand more approachable from the logotype to envisioning a new conference—Midjourney Navigate.
tools: Illustrator, InDesign, Photoshop, Midjourney, Blender, After Effects, Figma
---

<script type="text/javascript">
    imgs = [
        {
            img: "./img/midjourney.001.png",
            caption: "Exterior branded sculpture at corporate HQ"
        },
        {
            img: "./img/midjourney.002.png",
            caption: "Conference Exterior Facade"
        },
        {
            img: "./img/midjourney.003.png",
            caption: "Conference main stage, merchandise, collateral"
        },
        {
            img: "./img/midjourney.004.png",
            caption: "VIP invitations"
        },
        {
            img: "./img/midjourney.005.png",
            caption: "Interactive installation"
        },
        {
            img: "./img/midjourney_logo_family.png",
            caption: "Logo family system expressed through all brand colors: vertical lockup, icon, wordmark. Colors inspired by light refraction symbolizing infinite possibilities with text-to-image generation tools provided by Midjourney."
        },
        {
            img: "./img/midjourney_pattern.gif",
            caption: "Active Imagination (AI) pattern constructed from the logo"
        }
    ];
    var audience = "This rebrand seeks to expand the target audience from technology enthusiasts and early adopters to the broader community of creative professionals.";
    var solution = "By designing the sail, an abstraction of their previous logo, and expressing it through a human-friendly color palette the brand feels more approachable. By creating a users conference, Midjourney would have an opportunity to connect with their customers face to face.";

    buildAllImgs(audience, solution);
</script>